              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/android.html">
                      Android开发
                    </a>
                  </li>
                  <li>
                    <a href="/posts/web.html">
                      Web建站
                    </a>
                  </li>
                  <li>
                    <a href="/posts/read.html">
                      读书笔记
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      存档
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/program.html">
                      软件编程
                    </a>
                  </li>                  
				  <li>
                    <a href="/posts/linux.html">
                      Linux相关
                    </a>
                  </li>
                  <li>
                    <a href="/faqs.html">
                      FAQS
                    </a>
                  </li>
                  <li>
                    <a href="/posts/other.html">
                      杂记
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
