            <ul class="list-unstyled">
              <li>
                <a href="https://github.com">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://www.panxw.com">
                  潘学文博客
                </a>
              </li>
              <li>
                <a href="http://www.manongjc.com" target="_blank">
                  码农教程
                </a>
              </li>	
              <li>
                <a href="http://www.ruanyifeng.com/blog/" target="_blank">
                  阮一峰的博客
                </a>
              </li>	
              <li>
                <a href="http://www.youth168.com" target="_blank">
                  青年励志网
                </a>
              </li>
              <li>
                <a href="/links.html">
                  交换友情链接
                </a>
              </li>				  
            </ul>
