--- 
layout: default 
--- 
<!-- Navi -->
{% for cat in site.all_categories %}{% if page.category == cat[0] %}<a href="/">首页</a>&nbsp;>&nbsp;<a href="{{cat[2]}}">{{cat[1]}}</a>&nbsp;>&nbsp;正文{% endif %}{% endfor %}
<!-- Title -->
<h2>{{ page.title }}</h2>
{% if page.tags.size > 0%}<b>标签：</b>{% for tag in page.tags %}{% if tag != "" %}<a href="/tags.html#{{ tag }}"><i>{{ tag }}</i></a>{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}{% endif %}
<div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ page.date | date:"%Y-%m-%d" }}
</div>
<br/>
<hr>
<br/>

<!-- content -->
<div style="text-indent:0.0em;">
{{ content | toc }}
</div>

<br/>
<b>原创文章，转载请注明出处！</b>
<br/>
<b>本文链接：</b><a href="{{site.url}}{{page.url}}" title="{{page.name}}">{{site.url}}{{page.url}}</a>

<script>
if (typeof $('#markdown-toc').html() === 'undefined') {
 	
}else {
 $('.sidebar_catelog').html('<ul class="list_catelog">' + $('#markdown-toc').html() + '</ul>');
}

function locateCatelogList(){
 /*获取文章目录集合,可通过：header过滤器*/
 var alis = $('.article :header');
 /*获取侧边栏目录列表集合**/
 var sidebar_alis = $('.sidebar_catelog').find('a');
 /*获取滚动条到顶部的距离*/
 var scroll_height = $(window).scrollTop();
 for(var i =0;i<alis.length;i++){
     /*获取锚点集合中的元素分别到顶点的距离*/
     var a_height = $(alis[i]).offset().top;
     if (a_height<scroll_height){
         /*高亮显示*/
         sidebar_alis.removeClass('list_click');
         $(sidebar_alis[i]).addClass('list_click');
     }
 }
}
$(function() {
 /*绑定滚动事件 */ 
 $(window).bind('scroll',locateCatelogList); 
});

</script>

<!-- next and previous -->
<div style="margin-top:15px; margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    上篇：
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  {%if page.next%}
  <div style="float:right">
  <span class="prev" >
    下篇：
    <a href="{{page.next.url}}">
      {{page.next.title}}
    </a>
  </span>
  </div>
  {%endif%}
</div>
<hr>
<!-- Blog Comments -->
<div class="media">
  {% include comment.html %} 
</div>